<section id="notification-card" *ngIf="showNotification">
    <div class="container d-flex justify-content-between">
        <div class="title-noti">
            <span class="speak-out">Speak out. Be heard.</span>
            <strong class="be-counted">Be counted.</strong>
        </div>
        <div class="description-noti">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</div>
        <div class="btn-close" href="#" (click)="btnClose()">
            <span class="icon-equis"></span>
        </div>
    </div>
</section>